{
  "env": {
    "browser": true
  },
  "extends": [
    "../../.eslintrc",
    "plugin:vue/vue3-strongly-recommended",
    "plugin:vue-a11y/base"
  ],
  // ISSUE #3: forbid unsafe any in vue tests and stories
  "overrides": [
    {
      "files": [
        "**/test.ts"
      ],
      "rules": {
        "@typescript-eslint/no-unsafe-argument": "off",
        "@typescript-eslint/no-unsafe-assignment": "off"
      }
    }
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "extraFileExtensions": [
      ".vue"
    ],
    "parser": "@typescript-eslint/parser",
    "project": [
      "./tsconfig.json"
    ],
    "sourceType": "module"
  },
  "plugins": [
    "vue",
    "vue-a11y"
  ],
  "root": true,
  "rules": {
    "vue-a11y/label-has-for": [
      "error",
      {
        "allowChildren": false,
        "components": [
          "label"
        ],
        "required": {
          "some": [
            "nesting",
            "id"
          ]
        }
      }
    ],
    "vue/attributes-order": [
      "error",
      {
        "alphabetical": true
      }
    ],
    "vue/first-attribute-linebreak": "off",
    "vue/html-closing-bracket-newline": "off",
    "vue/html-indent": [
      "error",
      2,
      {
        "alignAttributesVertically": false
      }
    ],
    "vue/html-self-closing": [
      "error",
      {
        "html": {
          "component": "always",
          "normal": "always",
          "void": "always"
        },
        "math": "always",
        "svg": "always"
      }
    ],
    "vue/max-attributes-per-line": "off",
    "vue/multi-word-component-names": "off",
    "vue/singleline-html-element-content-newline": "off"
  }
}